<launch>
  <arg name="lidar-ip" default="10.1.32.130" />
  <arg name="lidar-port" default="2111" />
  <arg name="lidar-frame" default="lidar" />
  <arg name="gps-heading-ip" default="10.1.32.121"/>
  <arg name="gps-position-ip" default="10.1.32.120"/>
  <arg name="gps-frame" default="gps"/>
  <arg name="frontend-port" default="9090" />
  <!-- LIDAR Node -->
  <node pkg="lms1xx" name="lidar" type="LMS1xx_node" respawn="true">
    <param name="host" value="$(arg lidar-ip)" />
    <param name="port" value="$(arg lidar-port)" />
    <param name="publish_min_range_as_inf" value="false" />
    <param name="frame_id" value="$(arg lidar-frame)" />
  </node>
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="conf/laserscan_filter.yaml" />
  </node>
  <!-- GPS Nodes -->
  <node pkg="piksi_multi_rtk_ros" type="piksi_multi" name="gps_heading" output="screen" respawn="true">
    <rosparam file="$(find piksi_multi_rtk_ros)/cfg/piksi_multi_driver_settings.yaml"/>
    <param name="interface" value="tcp"/>
    <param name="tcp_addr" value="$(arg gps-heading-ip)"/>
    <param name="base_station_mode" value="false"/>
  </node>
  <node pkg="piksi_multi_rtk_ros" type="piksi_multi" name="gps_position" respawn="true">
    <rosparam file="$(find piksi_multi_rtk_ros)/cfg/piksi_multi_driver_settings.yaml"/>
    <param name="interface" value="tcp"/>
    <param name="tcp_addr" value="$(arg gps-position-ip)"/>
    <param name="base_station_mode" value="false"/>
  </node>
  <node pkg="gecko" type="frontend_server" name="frontend_server" respawn="true">
    <param name="port" value="$(arg frontend-port)" />
  </node>  
  <node pkg="tf" type="static_transform_publisher" name="lidar_broadcaster" args="0 0 0 0 0 3.1415926  vehicle $(arg lidar-frame) 100" />
  <node pkg="tf" type="static_transform_publisher" name="gps_broadcaster" args="0 0 0 0 0 0 vehicle $(arg gps-frame) 100" />
  <node pkg="rviz" name="rviz" type="rviz" 
	args="-d /home/gecko/Code/tgdriver/ros_ws/src/conf/otto.rviz"
	respawn="true">
  </node>
</launch>
